body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    padding: 50px 307px;
}

header {
    background-color: #1f2937;
}

header nav {
    display: flex;
}

header h1 {
    padding: 0;
    margin: 0;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

header ul a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

header main {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    flex-wrap: wrap;
}

header .left {
    width: 50%;
}

header main h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

header main p {
    color: #e5e7eb;
    font-size: 18px;
}

header button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 24px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
}

section.infos h2 {
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

section.infos .img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: auto;
}

section.infos p {
    text-align: center;
    margin: 16px 80px;
}

section.infos .flex_info {
    display: flex;
    flex-wrap: wrap;
}

section.infos .flex_info div {
    flex: 1;
}